---
import MainLayout from "../layouts/MainLayout.astro";

const links = [{ href: "/js-to-json", text: "JavaScript to JSON" }];
---

<MainLayout title="Welcome">
  <div class="grid grid-cols-6 px-4 pb-4">
    {
      links.map(({ href, text }) => (
        <a
          href={href}
          class="p-6 ring-base-700 ring-1 rounded-md shadow-lg bg-base-800 hover:ring-base-600 transition hover:shadow-xl hover:scale-105"
        >
          <h4 class="font-semibold">{text}</h4>
        </a>
      ))
    }
  </div>
</MainLayout>
