---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Ngineer Tools</title>
    <style>
      html,
      body {
        @apply bg-base-800 text-base-100 h-full;
      }

      body {
        @apply flex flex-col;
      }
    </style>
  </head>
  <body>
    <header class="px-4 h-16 flex items-center gap-6 flex-shrink-0">
      <a
        href="/"
        class="ring-1 ring-base-600 px-2 py-1 hover:border-primary-500 hover:ring-primary-500 rounded transition hover:ring-2 text-sm"
      >
        Home
      </a>
      <h4 class="font-bold text-lg">{title}</h4>
    </header>
    <slot />
  </body>
</html>
